<h2>Add a movie</h2>
<% if flash[:alart] %>
    <% flash[:alart].each do |a| %>
        <p><%= a %></p>
    <% end %>
<% end %>
<%= form_with url: "/admin/movies", local: true do |f| %>
    <p>タイトル : <%= f.text_field :name %></p>
    <p>公開年 : <%= f.text_field :year %></p>
    <p>概要 : <%= f.text_area :description %></p>
    <p>画像URL : <%= f.text_field :image_url %></p>
    <p>上映中 : <%= check_box_tag :is_showing %></p> 
    <p><%= f.submit "CREATE" %></p>
<% end %>